:global(:root[data-theme='light']) {
  /* background, divider */
  --background-subtle-background-color: var(--palette-neutral-10-white);
  --divider-subtle-background-color: var(--palette-neutral-40);
  --divider-strong-background-color: var(--palette-neutral-60B);
  --background-strong-background-color: var(--palette-neutral-10-white);
  /* button primary */
  --button-primary-enabled-background-color: var(--palette-primary-60B);
  --button-primary-enabled-background-color: var(--palette-primary-60B);
  --button-primary-enabled-font-color: var(--palette-neutral-10-white);
  --button-primary-hover-background-color: var(--palette-primary-70);
  --button-primary-hover-font-color: var(--palette-neutral-10-white);
  --button-primary-active-background-color: var(--palette-primary-80);
  --button-primary-active-font-color: var(--palette-neutral-10-white);
  --button-primary-disabled-background-color: var(--palette-gray-3);
  --button-primary-disabled-font-color: var(--palette-gray-4);
  /* button secondary */
  --button-secondary-enabled-background-color: var(--palette-secondary-60B);
  --button-secondary-hover-background-color: var(--palette-secondary-70);
  --button-secondary-enabled-font-color: var(--palette-gray-1);
  --button-secondary-hover-font-color: var(--palette-neutral-130-black);
  --button-secondary-active-background-color: var(--palette-secondary-80);
  --button-secondary-active-font-color: var(--palette-neutral-130-black);
  --button-secondary-disabled-background-color: var(--palette-gray-3);
  --button-secondary-disabled-font-color: var(--palette-gray-4);
  /* button tertiary */
  --button-tertiary-enabled-background-color: var(--palette-gray-4);
  --button-tertiary-disabled-background-color: var(--palette-gray-4);
  --button-tertiary-hover-background-color: var(--palette-gray-4);
  --button-tertiary-active-background-color: var(--palette-gray-4);
  --button-tertiary-enabled-font-color: var(--palette-gray-1);
  --button-tertiary-disabled-font-color: var(--palette-gray-2);
  --button-tertiary-hover-font-color: var(--palette-gray-1);
  --button-tertiary-border-default-color: var(--palette-gray-4);
  --button-tertiary-border-disabled-color: var(--palette-gray-4);
  --button-tertiary-border-hover-color: var(--palette-gray-3);
  --button-tertiary-border-focus-color: var(--palette-gray-3);
  --button-tertiary-border-active-color: var(--palette-gray-2);
  /* button round */
  --button-round-enabled-background-color: var(--palette-gray-4);
  --button-round-disabled-background-color: var(--palette-gray-4);
  --button-round-hover-background-color: var(--palette-gray-4);
  --button-round-active-background-color: var(--palette-gray-4);
  --button-round-enabled-font-color: var(--palette-gray-1);
  --button-round-disabled-font-color: var(--palette-gray-2);
  --button-round-hover-font-color: var(--palette-gray-1);
  --button-round-border-default-color: var(--palette-gray-4);
  --button-round-border-disabled-color: var(--palette-gray-4);
  --button-round-border-hover-color: var(--palette-gray-3);
  --button-round-border-focus-color: var(--palette-gray-3);
  --button-round-border-active-color: var(--palette-gray-2);
  /* button outlined */
  --button-outlined-enabled-background-color: rgba(255, 255, 255, 0);
  --button-outlined-enabled-border-color: var(--palette-gray-2);
  --button-outlined-enabled-font-color: var(--palette-gray-1);
  --button-outlined-hover-background-color: rgba(255, 255, 255, 0);
  --button-outlined-hover-border-color: var(--palette-gray-3);
  --button-outlined-hover-font-color: var(--palette-neutral-80);
  --button-outlined-active-background-color: rgba(255, 255, 255, 0);
  --button-outlined-active-border-color: var(--palette-gray-3);
  --button-outlined-active-font-color: var(--palette-gray-2);
  --button-outlined-disabled-background-color: rgba(255, 255, 255, 0);
  --button-outlined-disabled-border-color: var(--palette-gray-3);
  --button-outlined-disabled-font-color: var(--palette-gray-4);
  /* button transparent */
  --button-transparent-enabled-font-color: var(--palette-neutral-10-white);
  --button-transparent-hover-font-color: var(--palette-neutral-10-white);
  --button-transparent-active-font-color: var(--palette-neutral-10-white);
  --button-transparent-disabled-font-color: var(--palette-gray-4);
  /* button information*/
  --button-information-enabled-background-color: var(--palette-semantic-information-60B);
  --button-information-hover-background-color: var(--palette-semantic-information-70);
  --button-information-enabled-font-color: var(--palette-gray-1);
  --button-information-hover-font-color: var(--palette-neutral-130-black);
  --button-information-active-background-color: var(--palette-semantic-information-80);
  --button-information-active-font-color: var(--palette-neutral-130-black);
  --button-information-disabled-background-color: var(--palette-gray-3);
  --button-information-disabled-font-color: var(--palette-gray-4);
  /* button success*/
  --button-success-enabled-background-color: var(--palette-semantic-success-60B);
  --button-success-hover-background-color: var(--palette-semantic-success-70);
  --button-success-enabled-font-color: var(--palette-gray-1);
  --button-success-hover-font-color: var(--palette-neutral-130-black);
  --button-success-active-background-color: var(--palette-semantic-success-80);
  --button-success-active-font-color: var(--palette-neutral-130-black);
  --button-success-disabled-background-color: var(--palette-gray-3);
  --button-success-disabled-font-color: var(--palette-gray-4);

  /* button warning*/
  --button-warning-enabled-background-color: var(--palette-semantic-warning-60B);
  --button-warning-hover-background-color: var(--palette-semantic-warning-70);
  --button-warning-enabled-font-color: var(--palette-gray-1);
  --button-warning-hover-font-color: var(--palette-neutral-130-black);
  --button-warning-active-background-color: var(--palette-semantic-warning-80);
  --button-warning-active-font-color: var(--palette-neutral-130-black);
  --button-warning-disabled-background-color: var(--palette-gray-3);
  --button-warning-disabled-font-color: var(--palette-gray-4);

  /* button error*/
  --button-error-enabled-background-color: var(--palette-semantic-error-60B);
  --button-error-hover-background-color: var(--palette-semantic-error-70);
  --button-error-enabled-font-color: var(--palette-gray-1);
  --button-error-hover-font-color: var(--palette-neutral-130-black);
  --button-error-active-background-color: var(--palette-semantic-error-80);
  --button-error-active-font-color: var(--palette-neutral-130-black);
  --button-error-disabled-background-color: var(--palette-gray-3);
  --button-error-disabled-font-color: var(--palette-gray-4);

  /* button neutral*/
  --button-neutral-enabled-background-color: var(--palette-neutral-60B);
  --button-neutral-hover-background-color: var(--palette-neutral-70);
  --button-neutral-enabled-font-color: var(--palette-gray-1);
  --button-neutral-hover-font-color: var(--palette-neutral-130-black);
  --button-neutral-active-background-color: var(--palette-neutral-80);
  --button-neutral-active-font-color: var(--palette-neutral-130-black);
  --button-neutral-disabled-background-color: var(--palette-gray-3);
  --button-neutral-disabled-font-color: var(--palette-gray-4);

  /* input regular */
  --input-field-enabled-label-font-color: var(--palette-neutral-130-black);
  --input-field-enabled-assistive-font-color: var(--palette-neutral-130-black);
  --input-field-enabled-font-color: var(--palette-gray-2);
  --input-field-enabled-font-before-after: var(--palette-gray-3);
  --input-field-enabled-placeholder: var(--palette-gray-3);
  --input-field-hover-font-color: var(--palette-gray-2);
  --input-field-hover-placeholder: var(--palette-gray-2);
  --input-field-active-font-color: var(--palette-gray-2);
  --input-field-focus-font-color-before-after: var(--input-field-enabled-font-color);
  --input-field-focus-font-color: var(--palette-neutral-130-black);
  --input-field-enabled-border-color: var(--input-regular-border);
  --input-field-enabled-background-color: rgba(255, 255, 255, 0);
  --input-field-hover-border-color: var(--palette-gray-2);
  --input-field-hover-background-color: rgba(255, 255, 255, 0.05);
  --input-field-active-border-color: var(--palette-gray-2);
  --input-field-active-background-color: rgba(255, 255, 255, 0);
  --input-field-focus-border-color: var(--palette-active-50);
  --input-field-focus-background-color: rgba(255, 255, 255, 0);
  --input-field-active-label-font-color: var(--palette-neutral-130-black);
  --input-field-active-assistive-font-color: var(--palette-neutral-130-black);
  --input-field-hover-label-font-color: var(--palette-neutral-130-black);
  --input-field-hover-assistive-font-color: var(--palette-neutral-130-black);
  --input-field-focus-label-font-color: var(--palette-neutral-130-black);
  --input-field-focus-assistive-font-color: var(--palette-neutral-130-black);

  /* input valid */
  --input-field-valid-font-before-after: var(--palette-gray-3);
  --input-field-valid-font-color: var(--palette-gray-2);
  --input-field-valid-border-color: var(--palette-semantic-success-70);
  --input-field-valid-background-color: rgba(255, 255, 255, 0);
  --input-field-valid-label-font-color: var(--palette-neutral-130-black);
  --input-field-valid-assistive-font-color: var(--palette-neutral-130-black);

  /* input invalid */
  --input-field-invalid-font-color: var(--palette-semantic-error-60B);
  --input-field-invalid-font-before-after: var(--palette-semantic-error-60B);
  --input-field-invalid-border-color: var(--palette-semantic-error-60B);
  --input-field-invalid-background-color: rgba(255, 255, 255, 0);
  --input-field-invalid-label-font-color: var(--palette-neutral-130-black);
  --input-field-invalid-assistive-font-color: var(--palette-semantic-error-60B);
  /* input disabled */
  --input-field-disabled-font-color: var(--palette-gray-3);
  --input-field-disabled-border-color: var(--input-regular-border);
  --input-field-disabled-background-color: var(--palette-gray-4);
  --input-field-disabled-label-font-color: var(--palette-neutral-130-black);
  --input-field-disabled-assistive-font-color: var(--palette-neutral-130-black);
  /* typo */
  --typography-h1-font-color: var(--palette-neutral-130-black);
  --typography-h2-font-color: var(--palette-neutral-130-black);
  --typography-h3-font-color: var(--palette-neutral-130-black);
  --typography-h4-font-color: var(--palette-neutral-130-black);
  --typography-h5-font-color: var(--palette-neutral-130-black);
  --typography-h6-font-color: var(--palette-neutral-130-black);
  --typography-title-font-color: var(--palette-neutral-130-black);
  --typography-subtitle-font-color: var(--palette-neutral-130-black);
  --typography-body-font-color: var(--palette-neutral-130-black);
  --typography-caption-font-color: var(--palette-neutral-130-black);
  --typography-link-enabled-font-color: var(--palette-active-60B);
  --typography-link-hover-font-color: var(--palette-active-80);
  --typography-link-active-font-color: var(--palette-active-100);
  --typography-link-visited-font-color: var(--palette-active-100);
  /* checkbox */
  --input-checkbox-assistive-default: var(--typography-body-font-color);
  --input-checkbox-assistive-invalid: var(--palette-semantic-error-60B);
  --input-checkbox-unchecked-background-enabled: rgba(255, 255, 255, 0);
  --input-checkbox-unchecked-background-hover: rgba(255, 255, 255, 0);
  --input-checkbox-unchecked-background-active: rgba(255, 255, 255, 0);
  --input-checkbox-unchecked-background-invalid: rgba(255, 255, 255, 0);
  --input-checkbox-unchecked-background-disabled: var(--palette-neutral-20);
  --input-checkbox-unchecked-label-default: var(--typography-body-font-color);
  --input-checkbox-unchecked-outline-enabled: var(--palette-neutral-60B);
  --input-checkbox-unchecked-outline-hover: var(--palette-neutral-70);
  --input-checkbox-unchecked-outline-active: var(--palette-active-60B);
  --input-checkbox-unchecked-outline-invalid: var(--palette-semantic-error-60B);
  --input-checkbox-unchecked-outline-disabled: var(--palette-neutral-40);
  --input-checkbox-checked-background-enabled: var(--palette-active-60B);
  --input-checkbox-checked-background-hover: var(--palette-active-80);
  --input-checkbox-checked-background-active: var(--palette-active-80);
  --input-checkbox-checked-background-invalid: rgba(255, 255, 255, 0);
  --input-checkbox-checked-background-disabled: var(--palette-neutral-60B);
  --input-checkbox-checked-icon-enabled: var(--palette-neutral-10-white);
  --input-checkbox-checked-icon-hover: var(--palette-neutral-10-white);
  --input-checkbox-checked-icon-active: var(--palette-neutral-10-white);
  --input-checkbox-checked-icon-invalid: var(--palette-semantic-error-60B);
  --input-checkbox-checked-icon-disabled: var(--palette-neutral-10-white);
  --input-checkbox-checked-label-default: var(--typography-body-font-color);
  --input-checkbox-checked-outline-enabled: var(--palette-active-80);
  --input-checkbox-checked-outline-hover: var(--palette-active-80);
  --input-checkbox-checked-outline-active: var(--palette-active-80);
  --input-checkbox-checked-outline-invalid: var(--palette-semantic-error-60B);
  --input-checkbox-checked-outline-disabled: var(--palette-neutral-60B);
  --input-checkbox-indeterminate-background-enabled: var(--palette-active-60B);
  --input-checkbox-indeterminate-background-hover: var(--palette-active-80);
  --input-checkbox-indeterminate-background-active: var(--palette-active-80);
  --input-checkbox-indeterminate-background-invalid: rgba(255, 255, 255, 0);
  --input-checkbox-indeterminate-background-disabled: var(--palette-neutral-60B);
  --input-checkbox-indeterminate-icon-enabled: var(--palette-neutral-10-white);
  --input-checkbox-indeterminate-icon-hover: var(--palette-neutral-10-white);
  --input-checkbox-indeterminate-icon-active: var(--palette-neutral-10-white);
  --input-checkbox-indeterminate-icon-invalid: var(--palette-semantic-error-60B);
  --input-checkbox-indeterminate-icon-disabled: var(--palette-neutral-10-white);
  --input-checkbox-indeterminate-label-default: var(--typography-body-font-color);
  --input-checkbox-indeterminate-outline-enabled: var(--palette-active-80);
  --input-checkbox-indeterminate-outline-hover: var(--palette-active-90);
  --input-checkbox-indeterminate-outline-active: var(--palette-active-90);
  --input-checkbox-indeterminate-outline-invalid: var(--palette-semantic-error-60B);
  --input-checkbox-indeterminate-outline-disabled: var(--palette-neutral-60B);
  /* input radio */
  --input-radio-assistive-default: var(--typography-body-font-color);
  --input-radio-assistive-invalid: var(--palette-semantic-error-60B);
  --input-radio-unchecked-background-enabled: rgba(255, 255, 255, 0);
  --input-radio-unchecked-background-hover: rgba(255, 255, 255, 0);
  --input-radio-unchecked-background-active: rgba(255, 255, 255, 0);
  --input-radio-unchecked-background-invalid: rgba(255, 255, 255, 0);
  --input-radio-unchecked-background-disabled: var(--palette-neutral-60B);
  --input-radio-unchecked-label-default: var(--typography-body-font-color);
  --input-radio-unchecked-outline-enabled: var(--palette-neutral-60B);
  --input-radio-unchecked-outline-hover: var(--palette-neutral-70);
  --input-radio-unchecked-outline-active: var(--palette-active-60B);
  --input-radio-unchecked-outline-invalid: var(--palette-semantic-error-60B);
  --input-radio-unchecked-outline-disabled: var(--palette-neutral-60B);
  --input-radio-checked-background-enabled: var(--palette-active-60B);
  --input-radio-checked-background-hover: var(--palette-active-80);
  --input-radio-checked-background-active: var(--palette-active-80);
  --input-radio-checked-background-disabled: var(--palette-neutral-60B);
  --input-radio-checked-icon-enabled: var(--palette-neutral-10-white);
  --input-radio-checked-icon-hover: var(--palette-neutral-10-white);
  --input-radio-checked-icon-active: var(--palette-neutral-10-white);
  --input-radio-checked-icon-disabled: var(--palette-neutral-10-white);
  --input-radio-checked-label-default: var(--typography-body-font-color);
  --input-radio-checked-outline-enabled: var(--palette-active-80);
  --input-radio-checked-outline-hover: var(--palette-active-80);
  --input-radio-checked-outline-active: var(--palette-active-80);
  --input-radio-checked-outline-disabled: var(--palette-neutral-60B);
  /* badge */
  --badge-primary-font-color: var(--palette-gray-1);
  --badge-primary-background-color: var(--palette-gray-4);
}
