.hidden {
  display: none;
}

.pointer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  height: auto;
}

.check-line {
  display: flex;
  justify-content: left;
  align-items: center;
  max-width: 560px;
  width: 100%;
  display: flex;
  justify-content: left;
  margin: 0 auto;
}

.check-field__label {
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: var(--base-font);
  color: var(--checkbox-label-color);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
