/* skin: text )*/
/* @import '@/services/styles/theme/light.css'; */
/* type: primary, secondary, success, warning, danger, neutral, del */

.p-button_text {
  border: none;
  margin: var(--button-primary-medium-whiteSpace-gap);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  padding: var(--button-primary-medium-whiteSpace-padding-vertical), var(--button-primary-medium-whiteSpace-padding-horizontal);
  border-radius: none;
  height: auto;
  width: auto;
  background: none;
  /* font-family: var(); */
  font-size: var(--button-font-size-default);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.p-button_text_info {
  color: var(--button-information-enabled-background-color);
}

.p-button_text_info:hover {
  color: var(--button-information-hover-background-color);
}

.p-button_text_primary {
  color: var(--button-primary-enabled-background-color);
}

.p-button_text_primary:hover {
  color: var(--button-primary-hover-background-color);
}

.p-button_text_secondary {
  color: var(--button-secondary-enabled-background-color);
}

.p-button_text_secondary:hover {
  color: var(--button-secondary-hover-background-color);
}

.p-button_text_success {
  color: var(--button-success-enabled-background-color);
}

.p-button_text_success:hover {
  color: var(--button-success-hover-background-color);
}

.p-button_text_warning {
  color: var(--button-warning-enabled-background-color);
}

.p-button_text_warning:hover {
  color: var(--button-warning-hover-background-color);
}

.p-button_text_danger {
  color: var(--button-error-enabled-background-color);
}

.p-button_text_danger:hover {
  color: var(--button-error-hover-background-color);
}

.p-button_text_neutral {
  color: var(--button-neutral-enabled-background-color);
}

.p-button_text_neutral:hover {
  color: var(--button-neutral-hover-background-color);
}

.p-button_text_del {
  color: var(--button-neutral-enabled-background-color);
}

.p-button_text_del:hover {
  color: var(--button-error-hover-background-color);
}
