
$title-font: Gilroy, Roboto, Helvetica, sans-serif;
$title-font-weight: regular;
$title-font-bold-weight: bold;

$base-font: Gilroy, Roboto, Helvetica, sans-serif;

$base-font-size: 14px;
$base-font-small-size: 12px;
$base-font-large-size: 16px;

$base-font-weight: regular;
$base-font-bold-weight: bold;

$base-font-color: #F5FAFF;
$base-light-font-color: #A3A9BE;


