:root[data-theme='light'] {
  /* background, divider */
  --background-subtle-background-color: var(--palette-neutral-10-white);
  --divider-subtle-background-color: var(--palette-neutral-40);
  --divider-strong-background-color: var(--palette-neutral-60B);
  --background-strong-background-color: var(--palette-neutral-10-white);
  /* font-color */
  --font-primary-color: var(--palette-primary-60B);

  /* button primary */
  --button-primary-background: var(--palette-primary-60B);
  --button-primary-background-hovered: var(--palette-primary-80);
  --button-primary-background-pressed: var(--palette-primary-90);
  --button-primary-background-disabled: var(--palette-gray-3);
  --button-primary-font-color: var(--palette-neutral-10-white);
  --button-primary-font-color-hovered: var(--palette-neutral-10-white);
  --button-primary-font-color-pressed: var(--palette-neutral-10-white);
  --button-primary-font-color-disabled: var(--palette-gray-4);

  /* button secondary */
  --button-secondary-background: var(--palette-secondary-60B);
  --button-secondary-background-hovered: var(--palette-secondary-80);
  --button-secondary-background-pressed: var(--palette-secondary-90);
  --button-secondary-background-disabled: var(--palette-gray-3);
  --button-secondary-font-color: var(--palette-neutral-10-white);
  --button-secondary-font-color-hovered: var(--palette-neutral-10-white);
  --button-secondary-font-color-pressed: var(--palette-neutral-10-white);
  --button-secondary-font-color-disabled: var(--palette-gray-4);

  /* button information*/
  --button-info-background: var(--palette-semantic-information-60B);
  --button-info-background-hovered: var(--palette-semantic-information-80);
  --button-info-background-pressed: var(--palette-semantic-information-90);
  --button-info-background-disabled: var(--palette-gray-3);
  --button-info-font-color: var(--palette-gray-1);
  --button-info-font-color-hovered: var(--palette-gray-1);
  --button-info-font-color-pressed: var(--palette-gray-1);
  --button-info-font-color-disabled: var(--palette-gray-1);

  /* button success*/
  --button-success-background: var(--palette-semantic-success-60B);
  --button-success-background-hovered: var(--palette-semantic-success-80);
  --button-success-background-pressed: var(--palette-semantic-success-90);
  --button-success-background-disabled: var(--palette-gray-3);
  --button-success-font-color: var(--palette-gray-1);
  --button-success-font-color-hovered: var(--palette-gray-1);
  --button-success-font-color-pressed: var(--palette-gray-1);
  --button-success-font-color-disabled: var(--palette-gray-1);

  /* button warning*/
  --button-warning-background: var(--palette-semantic-warning-60B);
  --button-warning-background-hovered: var(--palette-semantic-warning-80);
  --button-warning-background-pressed: var(--palette-semantic-warning-90);
  --button-warning-background-disabled: var(--palette-gray-3);
  --button-warning-font-color: var(--palette-gray-1);
  --button-warning-font-color-hovered: var(--palette-gray-1);
  --button-warning-font-color-pressed: var(--palette-gray-1);
  --button-warning-font-color-disabled: var(--palette-gray-1);

  /* button error*/
  --button-error-background: var(--palette-semantic-error-60B);
  --button-error-background-hovered: var(--palette-semantic-error-80);
  --button-error-background-pressed: var(--palette-semantic-error-90);
  --button-error-background-disabled: var(--palette-gray-3);
  --button-error-font-color: var(--palette-gray-1);
  --button-error-font-color-hovered: var(--palette-gray-1);
  --button-error-font-color-pressed: var(--palette-gray-1);
  --button-error-font-color-disabled: var(--palette-gray-1);

  /* button neutral*/
  --button-neutral-background: var(--palette-neutral-60B);
  --button-neutral-background-hovered: var(--palette-neutral-70);
  --button-neutral-background-pressed: var(--palette-neutral-80);
  --button-neutral-background-disabled: var(--palette-gray-3);
  --button-neutral-font-color: var(--palette-gray-1);
  --button-neutral-font-color-hovered: var(--palette-gray-1);
  --button-neutral-font-color-pressed: var(--palette-gray-1);
  --button-neutral-font-color-disabled: var(--palette-gray-1);

  /* input */

  --input-background: var(--palette-primary-10);
  --input-label-color: var(--palette-primary-20);
  --input-placeholder-color: var(--palette-primary-20);
  --input-readonly-background: var(--palette-neutral-30);
  --input-border-color: var(--palette-primary-50);
  --input-focus-color: var(--palette-primary-80);
  --input-font-color: var(--palette-primary-50);

  /* checkbox */

  --checkbox-label-color: var(--palette-primary-50);
  --checkbox-border-color: var(--palette-primary-50);
  /* --p-input-border-radius: */
  /* --input-field-enabled-label-font-color: var(--palette-neutral-130-black);
  --input-field-enabled-assistive-font-color: var(--palette-neutral-130-black);
  --input-field-enabled-font-color: var(--palette-gray-2);
  --input-field-enabled-font-before-after: var(--palette-gray-3);
  --input-field-enabled-placeholder: var(--palette-gray-3);
  --input-field-hover-font-color: var(--palette-gray-2);
  --input-field-hover-placeholder: var(--palette-gray-2);
  --input-field-active-font-color: var(--palette-gray-2);
  --input-field-focus-font-color-before-after: var(--input-field-enabled-font-color);
  --input-field-focus-font-color: var(--palette-neutral-130-black);
  --input-field-enabled-border-color: var(--input-regular-border);
  --input-field-enabled-background-color: rgba(255, 255, 255, 0);
  --input-field-hover-border-color: var(--palette-gray-2);
  --input-field-hover-background-color: rgba(255, 255, 255, 0.05);
  --input-field-active-border-color: var(--palette-gray-2);
  --input-field-active-background-color: rgba(255, 255, 255, 0);
  --input-field-focus-border-color: var(--palette-active-50);
  --input-field-focus-background-color: rgba(255, 255, 255, 0);
  --input-field-active-label-font-color: var(--palette-neutral-130-black);
  --input-field-active-assistive-font-color: var(--palette-neutral-130-black);
  --input-field-hover-label-font-color: var(--palette-neutral-130-black);
  --input-field-hover-assistive-font-color: var(--palette-neutral-130-black);
  --input-field-focus-label-font-color: var(--palette-neutral-130-black);
  --input-field-focus-assistive-font-color: var(--palette-neutral-130-black); */

  /* input valid */
  /* --input-field-valid-font-before-after: var(--palette-gray-3);
  --input-field-valid-font-color: var(--palette-gray-2);
  --input-field-valid-border-color: var(--palette-semantic-success-70);
  --input-field-valid-background-color: rgba(255, 255, 255, 0);
  --input-field-valid-label-font-color: var(--palette-neutral-130-black);
  --input-field-valid-assistive-font-color: var(--palette-neutral-130-black); */

  /* input invalid */
  /* --input-field-invalid-font-color: var(--palette-semantic-error-60B);
  --input-field-invalid-font-before-after: var(--palette-semantic-error-60B);
  --input-field-invalid-border-color: var(--palette-semantic-error-60B);
  --input-field-invalid-background-color: rgba(255, 255, 255, 0);
  --input-field-invalid-label-font-color: var(--palette-neutral-130-black);
  --input-field-invalid-assistive-font-color: var(--palette-semantic-error-60B); */
  /* input disabled */
  /* --input-field-disabled-font-color: var(--palette-gray-3);
  --input-field-disabled-border-color: var(--input-regular-border);
  --input-field-disabled-background-color: var(--palette-gray-4);
  --input-field-disabled-label-font-color: var(--palette-neutral-130-black);
  --input-field-disabled-assistive-font-color: var(--palette-neutral-130-black); */
  /* typo */
  --typography-h1-font-color: var(--palette-neutral-130-black);
  --typography-h2-font-color: var(--palette-neutral-130-black);
  --typography-h3-font-color: var(--palette-neutral-130-black);
  --typography-h4-font-color: var(--palette-neutral-130-black);
  --typography-h5-font-color: var(--palette-neutral-130-black);
  --typography-h6-font-color: var(--palette-neutral-130-black);
  --typography-title-font-color: var(--palette-neutral-130-black);
  --typography-subtitle-font-color: var(--palette-neutral-130-black);
  --typography-body-font-color: var(--palette-neutral-130-black);
  --typography-caption-font-color: var(--palette-neutral-130-black);
  --typography-link-enabled-font-color: var(--palette-active-60B);
  --typography-link-hover-font-color: var(--palette-active-80);
  --typography-link-active-font-color: var(--palette-active-100);
  --typography-link-visited-font-color: var(--palette-active-100);
  /* checkbox */
  --input-checkbox-assistive-default: var(--typography-body-font-color);
  --input-checkbox-assistive-invalid: var(--palette-semantic-error-60B);
  --input-checkbox-unchecked-background-enabled: rgba(255, 255, 255, 0);
  --input-checkbox-unchecked-background-hover: rgba(255, 255, 255, 0);
  --input-checkbox-unchecked-background-active: rgba(255, 255, 255, 0);
  --input-checkbox-unchecked-background-invalid: rgba(255, 255, 255, 0);
  --input-checkbox-unchecked-background-disabled: var(--palette-neutral-20);
  --input-checkbox-unchecked-label-default: var(--typography-body-font-color);
  --input-checkbox-unchecked-outline-enabled: var(--palette-neutral-60B);
  --input-checkbox-unchecked-outline-hover: var(--palette-neutral-70);
  --input-checkbox-unchecked-outline-active: var(--palette-active-60B);
  --input-checkbox-unchecked-outline-invalid: var(--palette-semantic-error-60B);
  --input-checkbox-unchecked-outline-disabled: var(--palette-neutral-40);
  --input-checkbox-checked-background-enabled: var(--palette-active-60B);
  --input-checkbox-checked-background-hover: var(--palette-active-80);
  --input-checkbox-checked-background-active: var(--palette-active-80);
  --input-checkbox-checked-background-invalid: rgba(255, 255, 255, 0);
  --input-checkbox-checked-background-disabled: var(--palette-neutral-60B);
  --input-checkbox-checked-icon-enabled: var(--palette-neutral-10-white);
  --input-checkbox-checked-icon-hover: var(--palette-neutral-10-white);
  --input-checkbox-checked-icon-active: var(--palette-neutral-10-white);
  --input-checkbox-checked-icon-invalid: var(--palette-semantic-error-60B);
  --input-checkbox-checked-icon-disabled: var(--palette-neutral-10-white);
  --input-checkbox-checked-label-default: var(--typography-body-font-color);
  --input-checkbox-checked-outline-enabled: var(--palette-active-80);
  --input-checkbox-checked-outline-hover: var(--palette-active-80);
  --input-checkbox-checked-outline-active: var(--palette-active-80);
  --input-checkbox-checked-outline-invalid: var(--palette-semantic-error-60B);
  --input-checkbox-checked-outline-disabled: var(--palette-neutral-60B);
  --input-checkbox-indeterminate-background-enabled: var(--palette-active-60B);
  --input-checkbox-indeterminate-background-hover: var(--palette-active-80);
  --input-checkbox-indeterminate-background-active: var(--palette-active-80);
  --input-checkbox-indeterminate-background-invalid: rgba(255, 255, 255, 0);
  --input-checkbox-indeterminate-background-disabled: var(--palette-neutral-60B);
  --input-checkbox-indeterminate-icon-enabled: var(--palette-neutral-10-white);
  --input-checkbox-indeterminate-icon-hover: var(--palette-neutral-10-white);
  --input-checkbox-indeterminate-icon-active: var(--palette-neutral-10-white);
  --input-checkbox-indeterminate-icon-invalid: var(--palette-semantic-error-60B);
  --input-checkbox-indeterminate-icon-disabled: var(--palette-neutral-10-white);
  --input-checkbox-indeterminate-label-default: var(--typography-body-font-color);
  --input-checkbox-indeterminate-outline-enabled: var(--palette-active-80);
  --input-checkbox-indeterminate-outline-hover: var(--palette-active-90);
  --input-checkbox-indeterminate-outline-active: var(--palette-active-90);
  --input-checkbox-indeterminate-outline-invalid: var(--palette-semantic-error-60B);
  --input-checkbox-indeterminate-outline-disabled: var(--palette-neutral-60B);
  /* input radio */
  --input-radio-assistive-default: var(--typography-body-font-color);
  --input-radio-assistive-invalid: var(--palette-semantic-error-60B);
  --input-radio-unchecked-background-enabled: rgba(255, 255, 255, 0);
  --input-radio-unchecked-background-hover: rgba(255, 255, 255, 0);
  --input-radio-unchecked-background-active: rgba(255, 255, 255, 0);
  --input-radio-unchecked-background-invalid: rgba(255, 255, 255, 0);
  --input-radio-unchecked-background-disabled: var(--palette-neutral-60B);
  --input-radio-unchecked-label-default: var(--typography-body-font-color);
  --input-radio-unchecked-outline-enabled: var(--palette-neutral-60B);
  --input-radio-unchecked-outline-hover: var(--palette-neutral-70);
  --input-radio-unchecked-outline-active: var(--palette-active-60B);
  --input-radio-unchecked-outline-invalid: var(--palette-semantic-error-60B);
  --input-radio-unchecked-outline-disabled: var(--palette-neutral-60B);
  --input-radio-checked-background-enabled: var(--palette-active-60B);
  --input-radio-checked-background-hover: var(--palette-active-80);
  --input-radio-checked-background-active: var(--palette-active-80);
  --input-radio-checked-background-disabled: var(--palette-neutral-60B);
  --input-radio-checked-icon-enabled: var(--palette-neutral-10-white);
  --input-radio-checked-icon-hover: var(--palette-neutral-10-white);
  --input-radio-checked-icon-active: var(--palette-neutral-10-white);
  --input-radio-checked-icon-disabled: var(--palette-neutral-10-white);
  --input-radio-checked-label-default: var(--typography-body-font-color);
  --input-radio-checked-outline-enabled: var(--palette-active-80);
  --input-radio-checked-outline-hover: var(--palette-active-80);
  --input-radio-checked-outline-active: var(--palette-active-80);
  --input-radio-checked-outline-disabled: var(--palette-neutral-60B);
  /* badge */
  --badge-primary-font-color: var(--palette-gray-1);
  --badge-primary-background-color: var(--palette-gray-4);
}
